.magiNationBar {
    background: rgb(172, 154, 68);
    padding: 10px;
    color: indigo;
    overflow: auto;
}

.magiNation {
    background-color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:rgb(172, 154, 68);
}

.pokemon {
    background-image: -webkit-linear-gradient(to right, red, orange, goldenrod, gold);
    background-image: linear-gradient(to right, red, orange, goldenrod, gold);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: yellow;
}

.pokemonBar {
    background: blue;
    padding: 10px;
    color: yellow;
    overflow: auto;
}